.about {
    background: var(--color2);
    height: 100%;
}

.about-section {
    max-width: 1200px;
    margin: auto;
}

.about-content {
    padding: 30px 0 0;
}

.about-content h2 {
    font-size: 2rem;
    color: var(--color1);
    padding: 0 0 20px 0;
}

.about-content p {
    color: var(--white);
}

.about-content p a {
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
}

.service-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0 0;
}

.flip-card {
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 480px) {
    .about {
        height: 100%;
    }

    .service-cards {
        margin: 30px 0 0;
    }

    .service-card {
        flex: 38%;

    }
}

@media only screen and (max-width:180px) {
    .about-content h2 {
        font-size: 0.9rem;
        padding: 0 0 10px;
    }

    .about-content p {
        font-size: 0.6rem;
        text-align: justify;
    }
}