.contact {
    max-width: 2000px;
}

.contact-section {
    max-width: 900px;
    margin: 40px auto;
    background-color: #353434;
    color: var(--color1);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.name,
.email,
.message {
    width: 80%;
    margin: 20px auto 0;
}

.input-field {
    width: 100%;
    margin: auto;
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color1);
    caret-color: var(--color1);
    color: var(--color1);
}

.btn-hover {
    border: 2px solid var(--color1) !important;
    color: var(--color1) !important;
    font-weight: bold;
    margin-top: 25px;
}


::placeholder {
    color: var(--color1);
    opacity: 0.8;
    /* Firefox */
}

.project-btn {
    background-color: var(--color1);
}

.error {
    display: flex;
    justify-content: space-around;
    background: var(--white);
    max-width: 2000px;
    margin: auto;
    height: 100%;
}

.error-page {
    width: 50%;
    color: var(--color1);
    margin: 40px;

}

.error-page h1 {
    font-size: 2rem;
    color: var(--color1);
    margin-bottom: 20px;
}

.error-page p {
    margin-bottom: 12px;
}

.error-img img {
    width: 100%;

}

.error-links li {
    list-style: none;
}

.error-links li a {
    text-decoration: none;
    color: var(--color1);
}

.footer {
    position: relative;
    width: 100%;
    background: var(--color1);
}

.footer-container {
    max-width: 2000px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

.footer-contents {
    width: 50%;
}

.social-medias {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.social-medias a {
    width: 20px;
    height: 20px;
}

.social-medias a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media only screen and (max-width:480px) {

    .name,
    .email,
    .message {
        width: 100%;
        margin: 15px;
    }

    .error {
        flex-direction: column-reverse;
        height: 100vh;
    }

    .error-page {
        margin: 0 20px;
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer-contents,
    .social-medias {
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }

}

@media only screen and (max-width:180px) {

    .name,
    .email,
    .message {
        margin: 5px auto 0;
        font-size: 9px;
    }
}