.preloader {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.preloader-item {
    width: 20px;
    height: 20px;
    background-color: var(--color1);
    margin-left: 10px;
    border-radius: 50%;
    animation: jump 800ms ease-in-out infinite alternate;
}

.preloader-item:nth-child(1) {
    animation-delay: 0.1s;
}

.preloader-item:nth-child(2) {
    animation-delay: 0.4s;
}

.preloader-item:nth-child(3) {
    animation-delay: 0.6s;
}

.preloader-item:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes jump {
    100% {
        transform: translateY(-2rem) scale(1.2);
    }

}